/*
  /-\/-\/-\/-\/-\/-\/-\/-\/-\/-\/-\/-\/-\
  $Modules (reusable parts)
  \-/\-/\-/\-/\-/\-/\-/\-/\-/\-/\-/\-/\-/
*/

.cd-img-replace { /* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}