<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700' rel='stylesheet'>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/main.min.css">
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55421685-2', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

<header>
	<a id="cd-logo" href="index.html"><img src="{{ site.baseurl }}/dist/img/logo-name.svg" alt="HabitRead Homepage"></a>
	<a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
</header>

<main class="cd-main-content">

<ul class="vertical-navbar">
    <li><a href="index.html" class="icon-logo tooltip" title="Home">Logo</a></li>
    <li><a href="about.html" class="icon-about tooltip" title="About">About</a></li>
    <li><a href="submit.html" class="icon-submit tooltip" title="Submit">Submit</a></li>
    <li class="vertical-selected"><a href="toc.html" class="icon-toc tooltip" title="Table of Contents">Table of Contents</a></li>
    <!-- <li><a href="#" class="icon-newer tooltip" title="Newer Posts">Newer Posts</a></li> -->
    <!-- <li><a href="#" class="icon-older tooltip" title="Older Posts">Older Posts</a></li> -->
</ul>

	<img src="{{ site.baseurl }}/dist/img/rainbow-dash.png" alt="rainbow color stripes" class="rainbow-dash">

<article>